body {
    border : 0px;
    background-color: darkgray;
}

canvas {
    border : 1px solid blue;
}

.container {
    text-align: center;
}
.menu {
    text-align: center;
}

.canvas-wrapper {
    display : inline-block;
    margin: 50px;
}